<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Home</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <input
        type="text"
        placeholder="search"
        class="search-bar"
        [(ngModel)]="searchValue"
        (ngModelChange)="onSearchTextChanged()"
      />
      <ag-grid-angular
        class="ag-theme-balham"
        [columnDefs]="columnDefs"
        [serverSideDatasource]="serverSideDatasource"
        [rowModelType]="rowModelType"
        onCellValueChanged="{this.onCellValueChanged}"
        (cellValueChanged)="onCellValueChanged($event)"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
    </div>
  </div>
</div>
