<mat-nav-list>
  <h2 matSubheader class="mt-2">Menu</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/wallet">
    <mat-icon>wallet</mat-icon> Wallet
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/market">
    <mat-icon>graphic_eq</mat-icon> Market Analysis
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/help">
    <mat-icon>help</mat-icon> Help
  </a>
</mat-nav-list>
