mat-toolbar {
  background: #004a9f;
  color: white;
}
.app-heading {
  padding-left: 5px;
  font-size: 5vh;
}
.app-menu-heading {
  padding-left: 10vh;
}
.avatar {
  margin-top: 5px;
  padding-bottom: 7px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
